.formPDF {
    min-width: 1600px;
    margin: 2rem auto;
    padding: 4rem;
    background-color: white;
  }
  
  .productosGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  
  .oculto {
    display: none;
  }
  
  input {
    background-color: #e7e8e9;
    border: none;
    border-radius: 4px;
    width: 270px;
    padding: 10px 12px;
  }
  
  .sectionInput {
    display: flex;
    gap: 5rem;
    align-items: center;
  }
  
  .sectionInput1 {
    display: inline-block;
  }
  
  .producto {
    width: 270px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  
  /* Estilo para el checkbox */
  .producto input[type="checkbox"] {
    width: 12px;
    height: 12px;
    transform: scale(1.5);
    margin-right: 10px;
  }
  
  /* Estilo para el campo de cantidad */
  .producto input[type="number"] {
    margin-left: 15px;
    width: 50px;
  }
  
  /* Oculta las flechas en navegadores webkit (Chrome y Safari) */
  .producto input[type="number"]::-webkit-inner-spin-button,
  .producto input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    -webkit-appearance: none;
    margin: 0;
  }
  
  button#toggleServicios,
  button#toggleProductos {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  button#toggleServicios:hover,
  button#toggleProductos:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para las tablas de productos y servicios */
  .producto {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #f9f9f9;
  }
  
  .producto:hover {
    background-color: #e0e0e0;
  }
  
  .precio {
    font-weight: bold;
    color: #007bff;
  }
  
  /* Estilos para los campos de cantidad */
  input[type="number"] {
    width: 50px;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  /* Estilos para los checkboxes */
  input[type="checkbox"] {
    margin-right: 8px;
    vertical-align: middle;
  }